@use '../theme.scss' as *;
@use 'sass:color';

@mixin ghostButton($color: $color-primary) {
  background: none;
  color: $color;
  padding: $spacing-sm;
  border: 1px solid transparent;
  border-radius: $radius;
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
  cursor: pointer;
  transition: color $transition, background-color $transition,
    border-color $transition;

  &:hover {
    background-color: color.adjust($color, $alpha: -0.9);
    border-color: $color;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
