@use '../../../styles/theme.scss' as *;
@use '../../../styles/components/buttons.scss' as buttons;
@use 'sass:color';

.navbar {
  background-color: $color-black;
  padding: $spacing-sm $spacing-lg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.loginButton {
  margin-left: auto;
  @include buttons.ghostButton;
}

.userSection {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: $spacing-md;

  .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  button {
    @include buttons.ghostButton;
  }
}
