@use '@/styles/theme' as *;
@use 'sass:color';

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-gradient;
  height: 100vh;
  color: $color-white;
}

.form {
  background-color: rgba(28, 28, 28, 0.85);
  padding: $spacing-lg $spacing-xl;
  border-radius: $radius-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  width: 100%;
  max-width: 400px;

  h2 {
    margin-bottom: $spacing-md;
    color: $color-primary;
  }

  label {
    display: flex;
    flex-direction: column;
    font-size: $font-size-md;
    gap: $spacing-xs;

    input {
      background-color: $color-gray-dark;
      border: 1px solid color.adjust($color-gray-dark, $lightness: 10%);
      border-radius: $radius-md;
      padding: $spacing-md;
      color: $color-white;

      &::placeholder {
        color: $color-muted;
      }

      &:focus {
        outline: none;
        border-color: $color-primary;
        box-shadow: 0 0 0 1px $color-primary;
      }
    }
  }

  button {
    background-color: $color-primary;
    color: $color-white;
    padding: $spacing-md;
    border: none;
    border-radius: $radius-md;
    cursor: pointer;
    font-weight: $font-weight-bold;
    transition: background-color $transition;

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

.registerLink {
  margin-top: $spacing-md;
  font-size: 0.85rem;
  text-align: center;

  a {
    color: $color-muted;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary;
    }
  }
}
