@use '@/styles/theme.scss' as *;
@use 'sass:color';

.uploadArea {
  padding: $spacing-lg;
  text-align: center;
  border: 2px dashed color.adjust($color-muted, $lightness: -10%);
  border-radius: $radius-md;
  background-color: color.adjust($color-gray-dark, $lightness: 3%);
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  color: color.adjust($color-muted, $lightness: 15%);
  cursor: pointer;
  transition: background-color $transition, border-color $transition,
    color $transition;

  &:hover {
    border-color: $color-primary;
    background-color: color.adjust($color-gray-dark, $lightness: 8%);
    color: $color-white;
  }
}

button[type='submit'] {
  padding: $spacing-md $spacing-lg;
  background-color: $color-primary;
  border: none;
  border-radius: $radius-md;
  color: $color-white;
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  cursor: pointer;
  transition: background $transition;

  &:hover {
    background-color: color.adjust($color-primary, $lightness: 5%);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
