@use '@/styles/theme.scss' as *;
@use 'sass:color';

.formContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.title {
  color: $color-primary;
  font-size: $font-size-lg;
  margin-bottom: $spacing-sm;
  text-align: center;
}

.privacy {
  display: flex;
  gap: $spacing-lg;
  margin-top: $spacing-md;
}
