@use '@/styles/theme.scss' as *;
@use 'sass:color';

.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: $background-gradient;

  color: $color-white;
}

.form {
  background-color: $color-gray-dark;
  padding: 3rem;
  border-radius: $radius-md;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.05);
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: $spacing-xs;

  input {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: $radius-md;
    background-color: $color-black;
    color: $color-white;
    outline: none;
    font-size: 0.95rem;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.3);
    }
  }
}

button[type='submit'] {
  padding: 0.75rem 1.5rem;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: $radius-md;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: $color-primary-dark;
  }
}

select {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

select:focus {
  border-color: #b41414;
  outline: none;
  box-shadow: 0 0 0 2px rgba(180, 20, 20, 0.2);
}
