@use '@/styles/theme.scss' as *;
@use 'sass:color';

html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: $color-white;
  background-color: $color-black;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
