@use '@/styles/theme.scss' as *;
@use 'sass:color';

.carouselContainer {
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: $spacing-md;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: $spacing-md;
}

.arrow {
  position: absolute;
  right: $spacing-sm;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: color.adjust($color-white, $alpha: -0.95);
  color: $color-white;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background $transition;

  &:hover {
    background: color.adjust($color-white, $alpha: -0.9);
  }
}
