@use '@/styles/theme.scss' as *;
@use 'sass:color';

.sidebar {
  background-color: $color-gray-dark;
  padding: $spacing-md;
  border-radius: $radius-md;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  color: $color-white;
  max-width: 200px;
}
