@use '@/styles/theme' as *;
@use 'sass:color';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $background-gradient;

  form {
    background-color: $color-black;
    padding: $spacing-lg $spacing-xl;
    border-radius: $radius-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    max-width: 400px;

    h2 {
      color: $color-primary;
      margin-bottom: $spacing-md;
    }

    label {
      display: flex;
      flex-direction: column;
      color: $color-white;
    }
  }
}
