@use '@/styles/theme.scss' as *;
@use 'sass:color';

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacing-lg;
  gap: $spacing-lg;

  background-color: $color-black;

  border-top: 1px solid rgba(255, 0, 0, 0.08);
  box-shadow: 0 -4px 14px rgba(255, 0, 0, 0.05);
  border-top-left-radius: $radius-md;
  border-top-right-radius: $radius-md;
}

.player.disabled {
  pointer-events: none;
  filter: grayscale(60%);
  user-select: none;

  .title {
    color: $color-muted;
  }

  .progress,
  .volume input[type='range'] {
    opacity: 0.4;
  }
}

.songInfo {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  color: $color-white;
  width: 25%;
}

.image {
  width: 56px;
  height: 56px;
  border-radius: calc($radius-md / 2);
}

.title {
  font-size: 0.95rem;
  font-weight: $font-weight-bold;
  color: $color-white;
}

.artist {
  font-size: $font-size-sm;
  color: $color-muted;
}

.controls {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  width: 20%;

  button {
    background: none;
    border: none;
    font-size: 1.25rem;
    color: $color-white;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }
}

.volume {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-sm;

  input[type='range'] {
    width: 100px;
    accent-color: $color-primary;
  }
}

.waveform {
  flex: 1 1 auto;
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;

  canvas {
    width: 100% !important;
    height: 60px !important;
  }
}

.artistName {
  color: $color-muted;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $color-primary;
  }
}
