@use '@/styles/theme.scss' as *;
@use 'sass:color';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: color.adjust($color-gray-dark, $lightness: 4%);
  padding: $spacing-lg;
  width: 100%;
  border-radius: calc($radius-md * 1.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  color: $color-white;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: $spacing-md;
  max-height: 90vh;
  overflow-y: auto;
  flex-direction: column;
  gap: $spacing-md;
  max-height: 90vh;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 96vw;
    padding: $spacing-md;
    border-radius: $radius-md;
    gap: $spacing-sm;
  }
}

.sm {
  max-width: 400px;
}

.md {
  max-width: 640px;
}

.lg {
  max-width: 100%;
  width: 92vw; // ocupa quase tudo lateralmente
  max-height: 92vh;
  height: 85vh; // aumenta a altura
}

.close {
  position: absolute;
  top: 12px;
  right: 18px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: $color-muted;
  cursor: pointer;
  transition: color $transition;

  &:hover {
    color: $color-white;
  }
}

.header {
  h2 {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-xs;
  }

  p {
    font-size: $font-size-sm;
    color: $color-muted;
    margin-bottom: $spacing-md;
  }
}

.content {
  margin-top: $spacing-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

label {
  display: flex;
  flex-direction: column;
  font-size: $font-size-sm;
  color: $color-muted;

  input,
  select {
    margin-top: 6px;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-md;
    background-color: color.adjust($color-gray-dark, $lightness: 5%);
    border: 1px solid color.adjust($color-gray-dark, $lightness: 10%);
    color: $color-white;
    font-size: 0.95rem;
  }
}
