@use '@/styles/theme.scss' as *;

.trackColumnList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.trackColumnItem {
  padding: $spacing-xs $spacing-sm;
  background-color: rgba($color-white, 0.02);
  border-radius: $radius-sm;
  font-size: $font-size-sm;
  cursor: pointer;
  color: $color-muted;

  &:hover {
    background-color: rgba($color-primary, 0.08);
    color: $color-white;
  }

  &.active {
    background-color: rgba($color-primary, 0.15);
    color: $color-white;
    font-weight: 500;
  }
}
