@use '@/styles/theme.scss' as *;
@use 'sass:color';

.initialDrop {
  height: 100%;
}

.columns2 {
  display: flex;
  gap: $spacing-md;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.colSidebar {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  min-height: max-content;
}

.colMain {
  flex: 2; // parte maior
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.trackColumnTitle {
  font-size: $font-size-md;
  font-weight: bold;
  margin-top: $spacing-lg;
}

.trackColumnList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.trackColumnItem {
  padding: $spacing-xs $spacing-sm;
  background-color: rgba($color-white, 0.02);
  border-radius: $radius-sm;
  font-size: $font-size-sm;
  cursor: pointer;
  color: $color-muted;

  &:hover {
    background-color: rgba($color-primary, 0.08);
    color: $color-white;
  }
}

.active {
  background-color: rgba($color-primary, 0.15);
  color: $color-white;
  font-weight: 500;
}

.privacy {
  display: flex;
  gap: $spacing-lg;
  margin-top: $spacing-md;

  input[type='radio'] {
    accent-color: $color-primary;
    cursor: pointer;
  }

  label {
    font-size: $font-size-sm;
    color: $color-white;
    cursor: pointer;
  }
}
