@use '@/styles/theme.scss' as *;
@use 'sass:color';

.initialDrop {
  height: 100%;
}

.columns {
  display: flex;
  gap: 20px;
}

.coverImage {
  margin-right: 2px;
}

.form {
  width: 100%;
}

.trackList {
  width: 60%;
}
