@use '@/styles/theme.scss' as *;

.cropContainer {
  position: relative;
  overflow: hidden;

  :global(.reactEasyCrop_Container) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }

  :global(.reactEasyCrop_Image) {
    object-fit: cover;
  }

  :global(.reactEasyCrop_CropArea) {
    border: none;
    box-shadow: none !important;
  }
}

.rect {
  border-radius: 0;
}

.round {
  border-radius: 50%;
}

.square {
  border-radius: 0;
  aspect-ratio: 1 / 1;
}

.zoom {
  margin: auto;
  width: 25%;
}
