.appContainer {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.mainContent {
  background-color: #1e1e1e;
  overflow: auto;
  padding: 1.5rem;
}
