@use '../../../styles/theme.scss' as *;
@use 'sass:color';

.playlistList {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-md;
  background: $color-gray-dark;
  color: $color-white;
}

.heading {
  font-size: $font-size-md;
  color: $color-white;
  margin-bottom: $spacing-sm;
  text-shadow: 0 0 6px $color-primary-dark;
  border-bottom: 1px solid color.adjust($color-gray-dark, $lightness: -5%);
  padding-bottom: $spacing-sm;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  border-radius: $radius;
  transition: background $transition;

  &:hover {
    background: color.adjust($color-gray-dark, $lightness: 5%);
  }
}

.cover {
  width: 40px;
  height: 40px;
  border-radius: calc($radius / 2);
  object-fit: cover;
  box-shadow: 0 0 4px $color-primary-dark;
}

.name {
  font-size: 0.95rem;
  color: $color-white;
  text-shadow: 0 0 3px $color-primary-dark;
  font-weight: $font-weight-bold;
}

.add-playlist-button {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: calc($radius * 2.5);
  padding: $spacing-sm $spacing-lg;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  cursor: pointer;
  transition: background-color $transition;

  &:hover {
    background: color.adjust($color-gray-dark, $lightness: 5%);
  }
}
